@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
}
.card__container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: hsl(244, 38%, 16%);
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
}
.card__container--info {
  padding: 3rem 0.625rem 3rem 3rem;
  width: 50%;
}
.card__container--img {
  width: 50%;
  box-shadow: inset 2000px 0 0 0 hsl(277, 64%, 61%);
  background-image: url(img/image-header-desktop.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center right;
}
.heading {
  padding-right: 0;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.heading_em {
  color: hsl(277, 64%, 61%);
}
.subtitle {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 5rem;
  font-size: 1rem;
  word-spacing: 4px;
  line-height: 1.5;
  padding-right: 5rem;
}
.card__stats--container {
  display: flex;
  justify-content: flex-start;
}
.stat__container {
  margin-right: 4rem;
}
.card__stat {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.card__stat--label {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 750px) {
  body {
    height: auto;
  }
  .card__container {
    width: 95%;
    margin: 5rem auto;
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    border-radius: 1rem;
  }
  .card__container--img {
    background-image: url(img/image-header-mobile.jpg);
    background-position: top;
    grid-row: 1 / span 1;
    width: 100%;
  }
  .card__container--info {
    padding: 3rem 1rem 3rem 1rem;
    width: 90%;
  }
  .card__stats--container {
    display: flex;
    flex-direction: column;
  }
  .heading, .subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
  .stat__container {
    text-align: center;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
